/* li{
    color: red;
} */

/* .list5{
    color: red;
} */
/* 
a:hover{
    color: black;
} */

/* p::first-line{
    color: red;
} */


                        /* //ATTRIBUTE SELECTOR */
/* a[href="https://www.google.com"]{
    color: red;
} */

/* input[type="password"]{

} */

/* *{
    border: 1px solid red;
} */

                        /* //ADJACENT SIBLING */

/* div a{
    color: red;
} */


/* JUST AFTER */
/* div + a{
    color: red;
} */

/* all siblings */
/* div ~ a{
    color: red;
} */

/* h1,p{
    color: red;
} */

/* div{
    column-count: 3;
    column-gap: 50px;
    column-rule: 1px solid red;
    column-width: 300px;
}

h1{
    column-span: all;
} */

.flex-container{
    background-color: indianred;
    display: flex;
    height: 400px;
    /* height: 70vh;
    flex-wrap: wrap; */
    /* flex-direction: column-reverse; */    
    /* flex-flow: row wrap; */
    /* justify-content: center;    
    align-items: center; */
    /* align-content: flex-start; */
}

.flex-child{
    background-color:wheat;
    margin: 20px;
    padding: 20px;
    width: 100px;
    text-align: center;
}

#one{
    align-self: flex-start;
}

#two{
    align-self: center;
}

#three{
    align-self: flex-end;
}