/* p{
    color:red;
} */

/* p{
    color:red;
}

#p3{
    color:green;
}

.green-text {
    color:blue;
}

#h{
    font-size:50px;
}

.underline-h{
    text-decoration: underline;
} */

/* #bg{
    background-color:rgb(186, 186, 186);
} */

/* body{
    background-color:red;
} */

/* #bg{
    /*
    background-image: url('image/saitama.jpg');
    background-repeat: no-repeat;
    background-position: center center;     POSITION NORMAL
    background-position: 5% 10%;           /* X-axis Y-axis
    background-size: contain;
    background-attachment: fixed;
}
    */

/* Shortcut
#bg{
    background-color: white url(image/saitama.jpg) no-repeat fixed 5% 10%;
}
*/

/* #bg{
    background-color:yellow;
    background-image: url('image/3.png'), url('image/4.png');
    background-repeat: no-repeat;
    background-position: right bottom, left top;
} */

/* #border{
    border-style: solid;
    border-width: 5px;
    border-color: red;
} */

/* SHORTCUT */
/* #border{
    border: 5px solid green;
    border-radius: 10px 20px 30px 2px;
} */

/* #border{
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: blue;
} */

/* body{
    border: 1px solid red;
    height: 1000px;
} */

/* #div1{
    background-color: blueviolet;
    /* height: 50%; */
    /* width: 70%; */
    /* max-width: 500px;
    max-height:300px; */
    /* min-width:1000px;
    min-height:300px; */
/* } */

/*
#div1{
    border: 1px solid red;
    padding-top: 50px;
    padding-left: 20%;
}
*/

/* #div1{
    border: 2px solid red;
    padding: 10px;
} */

.div1{
    border: 1px solid red;
    /* padding: 25px 50px 30px 70px; */
}

/* body{
    border: 5px dotted black;
} */

/* #marg{
    margin-top: 50px; */
    /* margin-top: -50px;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 10%; */
    /* margin: 25px 12px 50px 60px; */
    /* width: 200px;
    margin: 20px auto; */
/* }

#colsp{
    margin-bottom: 30px;
} */

#text{
    width: 500px;
    border: 1px solid black;
    color: blue;
    text-align: right;
}
