/* p{
    color:red;
} */

/* p{
    color:red;
}

#p3{
    color:green;
}

.green-text {
    color:blue;
}

#h{
    font-size:50px;
}

.underline-h{
    text-decoration: underline;
} */

/* #bg{
    background-color:rgb(186, 186, 186);
} */

/* body{
    background-color:red;
} */

/* #bg{
    /*
    background-image: url('image/saitama.jpg');
    background-repeat: no-repeat;
    background-position: center center;     POSITION NORMAL
    background-position: 5% 10%;           /* X-axis Y-axis
    background-size: contain;
    background-attachment: fixed;
}
    */

/* Shortcut
#bg{
    background-color: white url(image/saitama.jpg) no-repeat fixed 5% 10%;
}
*/

#bg{
    background-color:yellow;
    background-image: url('image/3.png'), url('image/4.png');
    background-repeat: no-repeat;
    background-position: right bottom, left top;
}