/* :root{
    --primary-color: red;
    --button-color: lightblue;
    --text-color: black;
} */

/* html{
    font-size: 14px;
} */

/* @font-face{
    font-family: "block ride";
    src: url('fonts/block-ride.otf');
} */

/* p{
    color:red;
} */

/* p{
    color:red;
}

#p3{
    color:green;
}

.green-text {
    color:blue;
}

#h{
    font-size:50px;
}

.underline-h{
    text-decoration: underline;
} */

/* #bg{
    background-color:rgb(186, 186, 186);
} */

/* body{
    background-color:red;
} */

/* #bg{
    /*
    background-image: url('image/saitama.jpg');
    background-repeat: no-repeat;
    background-position: center center;     POSITION NORMAL
    background-position: 5% 10%;           /* X-axis Y-axis
    background-size: contain;
    background-attachment: fixed;
}
    */

/* Shortcut
#bg{
    background-color: white url(image/saitama.jpg) no-repeat fixed 5% 10%;
}
*/

/* #bg{
    background-color:yellow;
    background-image: url('image/3.png'), url('image/4.png');
    background-repeat: no-repeat;
    background-position: right bottom, left top;
} */

/* #border{
    border-style: solid;
    border-width: 5px;
    border-color: red;
} */

/* SHORTCUT */
/* #border{
    border: 5px solid green;
    border-radius: 10px 20px 30px 2px;
} */

/* #border{
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: blue;
} */

/* body{
    border: 1px solid red;
    height: 1000px;
} */

/* #div1{
    background-color: blueviolet;
    /* height: 50%; */
    /* width: 70%; */
    /* max-width: 500px;
    max-height:300px; */
    /* min-width:1000px;
    min-height:300px; */
/* } */

/*
#div1{
    border: 1px solid red;
    padding-top: 50px;
    padding-left: 20%;
}
*/

/* #div1{
    border: 2px solid red;
    padding: 10px;
} */

/* .div1{
    border: 1px solid red;
    padding: 25px 50px 30px 70px;
} */

/* body{
    border: 5px dotted black;
} */

/* #marg{
    margin-top: 50px; */
    /* margin-top: -50px;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 10%; */
    /* margin: 25px 12px 50px 60px; */
    /* width: 200px;
    margin: 20px auto; */
/* }

#colsp{
    margin-bottom: 30px;
} */

/* #text{
    width: 500px;
    border: 1px solid black;
    writing-mode: vertical-rl; */
    /* word-spacing: 10px;
    word-wrap: break-word; */
    /* white-space: pre; */
    /* text-transform: capitalize; */
    /* text-indent: 50px;   */
    /* color: blue;
    text-align: justify; */


/* 
#shadow{
    font-size: 70px;
    text-shadow: 5px 10px 7px red;
} */

/* img{
    border: 1px solid red;
    vertical-align: middle;
} */

/* a{
    text-decoration: none;
}

a:link{
    color: yellowgreen;
}

a:visited{
    color: black;
}

a:hover{
    color: orange;
}

a:active{
    color: red;
} */

/* h1{ */
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: "block ride";
    font-weight: 100;
}

p{ */
    /* font-family: 'Open Sans', sans-serif; */
    /* font-size: 30px; */
    /* font-size: 30px;
    font-weight: none; 
    font-style: italic; */
/* } */

/* p{
    font: 600 20px 'Open Sans', sans-serif;
} */

/* #parent{
    font-size: 10vw;
}

#child{
    font-size: 2rem;
} */

/* div{
    border: 1px solid red;
    cursor: zoom-out;
} */

/* div{
    border: 1px solid red !important;
}

div{
    border: 1px solid green;
} */

/* div{
    border: 1px solid green; 
    width: 500px;
    background-color: yellowgreen;
    margin: 100px;
    padding: 20px;
    box-shadow: 10px 10px 15px 3px grey, -10px 10px 15px 3px red ;
} */

/* #color-box{
    background-color: green;
    height: 200px;
    width: 500px;
    margin-bottom: 20px;
}

#red-box{
    height: 300px;
    width: 200px;
    background-color: red;
    margin-top: -100px;
    opacity: 0.5;
} */

/* img{
    filter: brightness(80%), contrast(100%), blur(3px);
} */

/* #sprite{
    height: 180px;
    background-image: url('image/sprite.png');
    background-repeat: no-repeat;
    background-position: 0px -380px;
} */

/* #div1{
    border: 1px solid grey;
    height: 500px;
    background-image: radial-gradient(circle,green 20%, blue 30%, yellow 50%);
} */



/*Css Overflow*/
/* #overflow{
    background-color: whitesmoke;
    border: 1px solid red;
    width: 500px;
    height: 300px;
    overflow: auto;
    resize: vertical;
} */

/*Css resizable*/

/* textarea{
    resize: none;
} */

    /* CSS LIST
ul{
    margin-left: -30px;
    list-style-type: disc;
    list-style-position: inside;
}

ol{
    list-style-type: decimal-leading-zero;
}

li{
    border: 1px solid black;
} */

/*CSS Table*/
/* table{
    border: 1px solid black;
    border-collapse: collapse;
    empty-cells: hide;
    table-layout: fixed;
    width: 100%;
}

caption{
    border: 1px solid black;
    caption-side: bottom;
}

th{
    border:1px solid black;
    height: 30px;
    padding: 15px;
    text-align: right;
}

td{
    border:1px solid black;
    height: 25px;
    padding: 5px;
    text-align: left;
    vertical-align: middle;
} */

/* #func{
    background-color: var(--primary-color);
    height: 200px;
    width: calc(100% - 200px);
}

a{
    padding: 10px 30px;
    margin: 20px;
    background-color: var(--button-color);
    color: var(--text-color);
    text-decoration: none;
} */

/* #div1{
    background-color: blueviolet;
    width:600px;
    height: 150px;
}

#div2{
    background-color: chocolate;
    width: 600px;
    height: 150px;
    padding: 50px;
    border: 10px solid black;
    box-sizing: border-box;
} */

/* #green{
    color: green;
}

#blue{
    color: red;
}

#initial{
    color: initial;
}

#inherit{
    color: inherit;
} */

/* img{
    border: 1px solid red;
    width: 500px;
    height: 400px;
    object-fit: contain;
    object-position: right;
} */

/* Pseudo-Classes */
/* li:nth-last-child(2){
    color: red;
}

input:focus{
    border: 3px solid red;
} */

/* Pseudo-Element*/

/* p::first-line{
    font-size: 35px;
    color: red;
}

h1::before{
    content: url('image/saitama.jpg');
}

h1::after{
    content: " added after";
}

::selection{
    color: red;
    background: yellow;
} */

/* DISPALY : 
block(div, p, heading): new line, full width, height and width applicable
inline(a, img, span): not new start, takes width necessarily, no height and width 
inline-block: not new start, no full width, height and width applicable
none 
*/

/* .display{
    border: 1px solid red;
    width: 50%;
    height: 100px;
    display: inline-block;
}

#div1{ */
    /* display: none; */
    /* visibility: hidden;
    height: 500px; */
/* } */

/* Position:
Static(default)
Relative
Fixed
Absoulte
    USES:
        top, bottom, :left, right
*/

body{
    height: 1000px;
}

#parent{
    border: 1px solid red;
    padding: 20px;
    width: 50%;
    margin: 100px;
}

#one{
    width: 100px;
    height: 100px;
    background-color: green;
    display: inline-block;
}

#two{
    width: 100px;
    height: 100px;
    background-color: blue;
    display: inline-block;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#three{
    width: 100px;
    height: 100px;
    background-color: black;
    display: inline-block;
}