body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.container {
  width: 100%;
  display: flex;
}

.left,
.right {
  height: 50vh;
  flex: 1;
  border: 1px dotted blue;
  border-radius: 50px;
  display: flex;
  align-items: center;
}

.video {
  max-width: 100%;
  height: 100%;
  width: 100%;
}

.rightimg {
  max-width: 100%;
  height: 100%;
  width: 100%;
}

.right > div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.writeup {
  margin-left: 10px;
  margin-right: 10px;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 801px) {
  body {
    font-size: 18px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 800px) {
  body {
    font-size: 14px;
  }
}
